<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
        @for (user of users; track user.id) {
      <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.fullName}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.userRole}}</td>
      </tr>
      <img class="image" [src]="user.picturePath" alt="">
    }
    </tbody>
  </table>